footer {
    background-color: steelblue;
    color: white;
}
footer p {
    padding: 25px;
}
h1 {
    margin: 50px 0;
}
nav {
    background-color: steelblue;
    padding: 25px;
}
a {
    color: white;
    padding: 25px;
}
/*body margin is default to a little bit, but we're going to change that*/
body {
    margin: auto /*0; does it need a semi colon?*/  
}
img {
    border: 5px solid rgb(147, 44, 44);
    display: inline-block;
    text-align: center;
}
header main footer {
    text-align: center;
}
.everything {
    text-align: center;
}
img{
    width: 10%;
    border-radius: 50%;
}