
#first_img {
    width: 80%;
    display: block;
    margin: 0 auto;
}
nav {
    width: 80%;
    color: gray;
}
img {
    width: 15%;
    display: inline-block;
    padding: 0;
    text-align: center;
    margin: auto;
    border: solid black 50%;
}
body {
    background-color: gray;
}
